/* ------------ 글 리스트 --------------- */

.article-list {
    width: 88%;
    margin: 0 auto;
    padding-top: 30px;
}



/* 게시판 설명 영역 */

.article-list h1{
    font-size: 28px;
    font-weight: bold;
    color: #125d98;
    padding: 8px 0;
}

.article-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article-list h2 {
    display: inline-block;
    padding: 8px 0;
}

.article-list select {
    width: 100px;
    height: 25px;
}

/* 게시판 글 리스트 영역 */

.article-list > .article-section-mobile {
    display: none;
}

.article-list > .article-section-normal {
    padding : 40px 0;
    display: block;
}

.article-list > .article-section-normal > ul {
    padding : 7px 0 ;
    display: flex;
    justify-content: space-between;
}

.article-list > .article-section-normal > ul > li {
    text-align: center;
}

.article-list > .article-section-normal > ul > li:nth-child(1) {
    width: 10%;
}

.article-list > .article-section-normal > ul > li:nth-child(2) {
    width: 40%;
}
.article-list > .article-section-normal > ul > li:nth-child(3) {
    width: 10%;
}
.article-list > .article-section-normal > ul > li:nth-child(4) {
    width: 30%;
}
.article-list > .article-section-normal > ul > li:nth-child(5) {
    width: 10%;
}

/* 검색창 에어리어 */
.article-list > .article-section-normal > ul:nth-last-child(1) {
    align-items: center;
    margin-top: 40px;
}



.article-list > .article-section-normal > ul:nth-last-child(1) > li:nth-last-child(1) > a {
    display: inline-block;
    color: white;
    background-color: #125d98;
    padding : 8px 8px;
    border-radius: 4px;
}

.article-list > .article-section-normal > ul:nth-last-child(1) > li:nth-last-child(2) > a {
    display: inline-block;
    color: white;
    background-color: #125d98;
    width: 36px;
    padding: 8px 8px;
    border-radius: 4px;
}

.article-list > .article-section-normal > ul:nth-last-child(1) > li:nth-child(1) {
    width: 25%;
}

.article-list > .article-section-normal > ul:nth-last-child(1) > li:nth-child(2) {
    width: 50%;
}

.article-list > .article-section-normal > ul:nth-last-child(1) > li:nth-child(3) {
    text-align: right;
    width: 25%;

}

.article-list > .article-section-normal > ul:nth-last-child(1) > li:nth-child(2) > input {
    font-size: 14px;
    padding : 5px 8px;
    width: 70%;
    box-sizing: border-box;
    border: none;
    border-left: 3px solid #125d98;
}

.article-list > .article-section-normal > ul:nth-last-child(1) > li:nth-child(2) > input:focus {
    outline: none;
}


@media screen and (max-width : 665px) {

    .article-list > .article-section-normal {
        display: none;
    }

    .article-list > .article-section-mobile {
        padding : 30px 0;
        display: block;        
    }

    .article-list > .article-section-mobile > div {
        padding : 4px 0;
    }

    .article-list > .article-section-mobile .article-title {
        padding: 10px 0;
        font-size: 16px;
        font-weight: bold;
        line-height: 18px;
        transition: all 0.3s;
    }

    .article-list > .article-section-mobile .article-title:hover {
        margin-left: 5px;
    }

    .article-list > .article-section-mobile .writer-info {
        text-align: right;
        font-size: 14px;
        color: #999;
        font-weight: 100;
    }
    
}



/* ------------ 글 리스트 끝 --------------- */












/* 글 작성 폼 */

.article-form {
    margin : 0 auto;
    width: 95%;

}

.article-form h1 {
    padding: 20px 0;
    font-size: 25px;
    font-weight: bold;
    color: #125d98;
}


.article-form .sub-area {
    display: flex;
    justify-content: space-between;
}

.sub-area input {
    width: 80%;
    height: 30px;
    padding : 10px 10px;
    box-sizing: border-box;
    margin-bottom: 15px;
    border : 1px solid rgb(189, 187, 187);
    border-radius: 2px;
}

.sub-area input {
    outline: none;
}

.sub-area select {
    width: 18%;
    height: 30px;
    border : 1px solid rgb(189, 187, 187);
    border-radius: 2px;
}



.ck-editor__editable {
    height: 400px;
    font-weight: 100;
}

@media screen and (max-width : 665px){
    .ck-editor__editable {
        height: 300px;
    }   
    
    .sub-area input {
        width: 75%;
    }
    
    .sub-area select {
        width: 23%;
    }
}